UPDATE [dbo].[TeamMember] SET [RgbLookupId] = NULL

DELETE FROM [dbo].[RgbLookup]


USE [Xsk]
GO
INSERT [dbo].[RgbLookup] ([RgbLookupId], [RgbLookupValue]) VALUES (1, N'rgb(0,128,128)
')
GO
INSERT [dbo].[RgbLookup] ([RgbLookupId], [RgbLookupValue]) VALUES (2, N'rgb(0,255,255)
')
GO
INSERT [dbo].[RgbLookup] ([RgbLookupId], [RgbLookupValue]) VALUES (3, N'rgb(255,0,255)
')
GO
